<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<a href="home">Home</a>
<a href="roster">Team Roster</a>
<a href="games">Games Played</a>

<br>
<b>[[${team.name}]] - Members</b>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sports</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="member: ${members}">
        <td th:text="${member.id}">
        <td th:text="${member.fullname}">
        <td th:text="${member.gameID.category}">

    </tr>
    </tbody>
</table>
</body>
</html>