<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<a href="home">Home</a>
<a href="approval_page">Pending Approvals</a>
<a href="games">Games</a>
<a href="records">Records</a>
<a href="teams">Teams</a>
<a href="managers">Managers</a>
<a href="officials">Officials</a>

<br>
<b>Officials</b>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="official: ${officials}">
        <td th:text="${official.id}">
        <td th:text="${official.fullname}">
    </tr>
    </tbody>
</table>
</body>
</html>